# Local:
# VITE_SERVER_URL=http://localhost:4000
VITE_SERVER_URL=https://springgreen-pig-298828.hostingersite.com
# Client:
# VITE_RECAPTCHA_SITE_KEY=6LcZLpYqAAAAAIHqkus9rm45REslDxs-qQzN1oUK

# me
VITE_RECAPTCHA_SITE_KEY=6LfQ2Y0tAAAAABhufK_d2c2tZv8jWWkk_wTG9kOT